# .env.example — Video Upload MS
SERVER_PORT=8083
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/video_upload_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_PROFILES_ACTIVE=local

NEW_RELIC_LICENSE_KEY=sua_license_key_aqui