# .env.example — Video Upload MS
# Recursos compartilhados provisionados pelo fiap-14soat-tc-fase5-iac-terraform
SERVER_PORT=8083
SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/video_upload_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
STORAGE_TYPE=local
STORAGE_LOCAL_PATH=./uploads
MAX_UPLOAD_SIZE=500MB
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=fiapx
RABBITMQ_USER=fiapx
RABBITMQ_PASSWORD=fiapx123
AUTH_SERVICE_URL=http://localhost:8090

NEW_RELIC_LICENSE_KEY=sua_license_key_aqui